---
title: 'services'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: services
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Our Services</span>
        <div class="cs-breadcrumbs">
            <!-- <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Contact</a> -->
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/3415222.jpg">
        <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/3415222.jpg">
        <img decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/3415222.jpg" alt="breakfast" width="1920" height="1000">
    </picture>
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
              
                <source media="(max-width: 600px)" srcset="https://i.ibb.co/5B2dyy1/Static-website-bro.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://i.ibb.co/5B2dyy1/Static-website-bro.webp">
                <img loading="lazy" decoding="async" src="https://i.ibb.co/5B2dyy1/Static-website-bro.webp" alt="design" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/bowls.svg" alt="profile" width="184" height="184" aria-hidden="true">
            
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="422" height="422" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Web Design & Development</span>
            <h2 class="cs-title">A Different Take on Small Business Websites</h2>
            <p class="cs-text">
                We're unique because we design our websites from scratch, using the latest technologies and best practices. We don't use templates or page builders, which means your website will be fast, secure, and easy to maintain. 
            </p>
            <ul class="cs-list">
                <li class="cs-li">Handwritten code</li>
                <li class="cs-li">Outperforms page builders and Wordpress</li>
                <li class="cs-li">Approachable pricing plan</li>
                <li class="cs-li">24/7 service and regular updates</li>
                <li class="cs-li">Hosting and domain management included</li>
            </ul>
            <!-- <div class="cs-info">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/profile-2.png" alt="profile" width="52" height="52">
                <div class="cs-flex">
                    <span class="cs-name">Justin James</span>
                    <span class="cs-desc">CEO-Founder of STITCH Car Mechanics</span>
                </div>
            </div> -->
        </div>
    </div>
</section>
            
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1100-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/Mobile%20Marketing-pana.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/Mobile%20Marketing-pana.webp">
                <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/Mobile%20Marketing-pana.webp" alt="appliance" width="600" height="600">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/Mobile%20Marketing-pana.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/Mobile%20Marketing-pana.webp">
                <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/Mobile%20Marketing-pana.webp" alt="appliance" width="600" height="600">
            </picture>
            <!--Stripe background-->
            <!-- <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true"> -->
            <!--Eclipses-->
            <!-- <img class="cs-graphic" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/bowls.svg" alt="stripes" width="140" height="140" aria-hidden="true"> -->
        </div>
        <div class="cs-content">
            <span class="cs-topper">Logos, Branding, & Graphic Design</span>
            <h2 class="cs-title">Modern, Fast, and Fairly Priced Graphics</h2>
            <p class="cs-text">
                We can create a logo for your business, design social media graphics, and even create a brand guide for your business.If you have an existing logo that needs a touchup we can help with that too.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Logos Start at $250</h3>
                    <p class="cs-li-text">
                        We will create a logo for your business that is modern, clean, and memorable. We will provide you with a vector file that you can use for any purpose. Includes a consult and 2 revisions. Rate will vary based on complexity.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Social Media & Ad Graphics</h3>
                    <p class="cs-li-text">
                       We can assist you in making posts that stand out on social media and in ads. Please reach out with your needs and we will provide a quote.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
            
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<!-- <div id="stats-340-1112">
   
    <ul class="cs-card-group">
       
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/person2-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">4</span>
                <span class="cs-desc">Mechanics</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/mop-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">3140</span>
                <span class="cs-desc">Projects Completed</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/thumbs-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">2260</span>
                <span class="cs-desc">Satisfied Clients</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/award2-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">2</span>
                <span class="cs-desc">Awards Won</span>
            </div>
        </li>
    </ul>
    Background Image-->
    <!-- <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic24.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic24.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic24.jpg" alt="mechanic" width="1920" height="283">
    </picture> -->
</div>
          
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
              
                <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/Developer%20activity-amico.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/Developer%20activity-amico.webp">
                <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/Developer%20activity-amico.webp" alt="design" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/bowls.svg" alt="profile" width="184" height="184" aria-hidden="true">
            
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="422" height="422" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Lifetime Updates</span>
            <h2 class="cs-title">We're Always Improving Your Website</h2>
            <p class="cs-text">
                We'll update your page as often as you need, and we'll make sure your website is always up to date with the latest best practices. We'll also make sure your website is backed up and secure. 
            </p>
            <ul class="cs-list">
                <li class="cs-li">We will redesign your page at your request</li>
                <li class="cs-li">Your page will always be accessible to all</li>
                <li class="cs-li">We'll make sure your page is up to date with search guidelines</li>
                <li class="cs-li">Regular SEO adjustments to get better search results</li>
                <li class="cs-li">We'll help with your online profiles, too</li>
            </ul>
            <!-- <div class="cs-info">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/profile-2.png" alt="profile" width="52" height="52">
                <div class="cs-flex">
                    <span class="cs-name">Justin James</span>
                    <span class="cs-desc">CEO-Founder of STITCH Car Mechanics</span>
                </div>
            </div> -->
        </div>
    </div>
</section>
    
<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1103-1112">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Simple, Transparent Pricing</h2>
            <p class="cs-text">
                Our most popular package is our Standard Site, which includes everything you need to get started. We also offer a Standard + Blogging package for those who want to add a blog to their site.
            </p>
            <a href="/contact" class="cs-button-solid">Learn More</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Standard Site</span>
                <span class="cs-price">$150/mo</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                   Unlimited Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                      24/7 Customer Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Lifetime Updates
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                       Up to 5 pages Included
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Includes Hosting
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                  
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Standard + Blogging</span>
                <span class="cs-price">$250/month</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All Standard Site Features
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        1000+ Word Blog Post
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Written with SEO in mind
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        1 Post Per Month
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        $100 Per Extra Post
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    
                </ul>
            </li>
        </ul>
    </div>
</section>
                                
    {% include 'components/cta.html' %}

{% endblock %}